/*********************************************************************************************

    left (region-pre) column: 23%
    right (region-post) column: 23%
    padding left/right (region-pre/region-post) columns: 1%
    padding center (region-main) column: 1%

**********************************************************************************************/
body {
    margin: 0;
    padding: 0;
}
#page {
    width: 100%;
    min-width: 775px;
    margin: 0 auto;
    padding: 0;
}
#page-header {
    float: left;
    width: 97%;
    margin: 0;
    padding: 0 1.5%;
}
#page-content {
    clear:both;
    float:left;
    overflow:hidden;
    position:relative;
    width:100%;
    min-width: inherit;
}
#page-content #region-main-box {
    float:left;
    right:23%;
    position:relative;
    width:100%;
}
#page-content #region-main-box #region-pre-box {
    float:left;
    right:54%;
    position:relative;
    width:100%;
}
#page-content #region-main-box #region-pre-box #region-main {
    float:left;
    overflow:hidden;
    position:relative;
    margin-right:0;
    left:101%;
    width:52%;
}
#page-content #region-main-box #region-pre-box #region-pre {
    float:left;
    overflow:hidden;
    position:relative;
    left:26%;
    width:21%;
}
#page-content #region-main-box #region-pre-box #region-post {
    float:left;
    overflow:hidden;
    position:relative;
    left:82%;
    width:21%;
}
#page-footer {
    clear:both;
    float:left;
    width:100%;
}

/** Only side pre **/

.side-pre-only #page-content #region-main-box {right: 0%;}
.side-pre-only #page-content #region-main-box #region-pre-box {right:77%;}
.side-pre-only #page-content #region-main-box #region-pre-box #region-main {left:101%; width:75%;}
.side-pre-only #page-content #region-main-box #region-pre-box #region-pre {left:3%; width:21%;}
.side-pre-only #page-content #region-main-box #region-pre-box #region-post {width:0%;}

/** Only side post **/

.side-post-only #page-content #region-main-box {right:23%;}
.side-post-only #page-content #region-main-box #region-pre-box {right:77%;}
.side-post-only #page-content #region-main-box #region-pre-box #region-main {left:101%; width:75%;}
.side-post-only #page-content #region-main-box #region-pre-box #region-pre {width: 0%;}
.side-post-only #page-content #region-main-box #region-pre-box #region-post {left:103%;width:21%;}
.has_dock.side-post-only .page-middle #region-main-box #region-pre-box #region-main {margin-left:200px;}

/** No blocks whatsoever **/

.content-only #page-content #region-main-box {right:0%;}
.content-only #page-content #region-main-box #region-pre-box {right:100%;}
.content-only #page-content #region-main-box #region-pre-box #region-main {left:101%; width:98%;}
.content-only #page-content #region-main-box #region-pre-box #region-pre {width:0%;}
.content-only #page-content #region-main-box #region-pre-box #region-post {width:0%;}

/** Moving blocks when side-post-only **/

.blocks-moving.side-post-only #page-content #region-main-box {right: 23%;width: 100%;}
.blocks-moving.side-post-only #page-content #region-pre-box {right: 54%;}
.blocks-moving.side-post-only #page-content #region-main {left: 101%;width: 52%;}
.blocks-moving.side-post-only #page-content #region-pre {left: 26%;width: 21%;}
.blocks-moving.side-post-only #page-content #region-post {left: 82%;width: 21%;}

/** Has dock side-post-only **/

.has_dock.side-post-only .page-middle #region-main-box #region-pre-box #region-main {margin-left: 23%;}

/** Report pagelayout **/

.pagelayout-admin #page-content #region-main .region-content,
.pagelayout-report #page-content #region-main .region-content {overflow:visible;}

.pagelayout-admin #page-content #region-main,
.pagelayout-report #page-content #region-main,
.pagelayout-admin #page-content #region-main .region-content .no-overflow,
.pagelayout-report #page-content #region-main .region-content .no-overflow {overflow:auto;}
