/* Pagelayout
-------------------------*/

.side-pre-only .tiny-row-fluid .span3.left {
    width: 23%;
    *width: 23%;
}
.side-pre-only .tiny-row-fluid .span6 {
    width: 72%;
    *width: 72%;
}
.side-pre-only .tiny-row-fluid .span3.right {
    width: 0;
}

.side-post-only .tiny-row-fluid .span3.left {
    width: 0;
}
.side-post-only .tiny-row-fluid .span6 {
    width: 72%;
    *width: 72%;
}
.side-post-only .tiny-row-fluid .span3.right {
      width: 23%;
      *width: 23%;
}

.content-only .tiny-row-fluid .span3.left {
    width: 0;
}
.content-only .tiny-row-fluid .span6 {
    width: 100%;
    *width: 99%;
}
.content-only .tiny-row-fluid .span3.right {
    width: 0;
}



