/* Custom CSS Settings
-------------------------*/

h1, h2, h3,
h1.main, h2.main, h3.main,
h2.headingblock,
h1.headermain,
h3.name,
.block .header .title h2 {
    font-family: '[[setting:fontface]]';
}

@font-face {
      font-family: [[setting:fontface]];
      src: url([[setting:font]]) format("truetype");
}
@font-face {
      font-family: Mordred;
      src: url(tiny/font/Mordred.ttf) format("truetype");
}

[[setting:customcss]]