/* Custom CSS Settings
-------------------------*/

h1, h2, h3,h1.main, h2.main, h3.main,
h2.headingblock,
h1.headermain,
h3.name,
.default-unit h1,
.block .header .title h2 {
    font-family: '[[setting:fontface]]';
}
.tiny-navbar .brand {
    background-image: url([[setting:brandicon]]);
}

@font-face {
    font-family: [[setting:fontface]];
    src: url([[setting:fontwww]][[setting:fontface]].ttf) format("truetype");
}

[[setting:customcss]]