/* Core Styles
-------------------------*/
html, body {
    margin: 0;
    padding: 0;
    background: #FFF url([[pix:theme|basebg]]) fixed;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #036;
}
a:hover {
    color: #c06;
}
a:active {
    color: #039;
}
a:focus {
    border-bottom: 1px solid #039;
}
h1, h2, h3,
h1.main, h2.main, h3.main,
h2.headingblock,
h3.name,
.block .header .title h2 {
    font-family: "UnifrakturMaguntia", serif;
    font-weight: 400;
    color: #abc;
}

#page {
    width: 100%;
    margin: 0 auto;
}
#page-header {
    height: 50px;
    width: 100%;
}
#region-main {
    width: 100%;
    margin: 0;
    padding: 0;
}
.region-content {
    margin: 0;
    padding: 0 10px;
}

/* Parent theme override
-------------------------*/
.generalbox,
.forumpost,
.block {
    border: 0 none;
}
footer,
.pageinfo,
.purgecaches {
    text-align: center;
}
.purgecaches {
    margin: 10px 0 0;
}
categoryboxcontent,
.coursebox,
.notifyproblem,
.notifysuccess,
table.minicalendar {
    border-radius: 10px;
    background-color: #FCFCFC;
    border-color: #DDD;
form#login .rememberpass }
    margin: 0 auto;
    width: 20%;
    height: 20px;
}
form#login .rememberpass input#rememberusername {
    float: left;
    width: 20px;
}
/* Course view
-------------------------*/
.path-course-view .weeks .current,
.path-course-view .topics .current,
.path-course-view .current td.side {
    background: none repeat scroll 0 0 #003366;
}
.coursebox .summary,
.coursebox .info {
    float: left;
    text-align: left;
    width: 100%;
}
/* Theme Selector
----------------------------*/
#page-admin-theme-index .generalbox {
    border: none;
}
.theme_screenshot {
    float: left;
    width: 300px;
}
.theme_screenshot img {
    width: 275px;
}
.theme_screenshot h2 {
    font-size: 2em;
}
.theme_screenshot h3 {
    font-size: 0.9em;
    margin: 1em 0 0;
}
.theme_screenshot p {
    font-size: 0.9em;
    margin: 0 0 1em;
}
.theme_description {
    margin-left: 300px;
}
.theme_description h2 {
    padding-top: 0.5em;
}
/* COMMAND ICONS (2011-10-13)
-------------------------------------*/
img.iconsmall,
.block.block_with_controls div.header div.commands a img,
.course-content ul.topics li.section .right img,
.course-content ul.topics li.section .left img {
    height:15px;
    margin:2px;
    width:15px;
    background-color: #eee;
    border: 1px solid #aaa;
    padding:1px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* Blocks
-------------------------*/
.block_settings .content #settingsnav.box ul.block_tree li.type_unknown hr,
.block_settings .content #settingsnav.box ul.block_tree li.type_setting hr,
.block_settings .content #settingsnav.box ul.block_tree li.type_setting hr {
    background-image:  url([[pix:theme|curly]]);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0 none;
    height: 21px;
}
/* Buttons
-------------------------*/
#fgroup_id_buttonar input#id_submitbutton,
#fgroup_id_buttonar input#id_cancel,
fieldset legend.ftoggler,
.buttons .singlebutton input,
.form-buttons input,
.continuebutton form input {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #003366;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #aabbcc;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#aabbcc));
  background-image: -webkit-linear-gradient(top, #ffffff, #aabbcc);
  background-image: -o-linear-gradient(top, #ffffff, #aabbcc);
  background-image: linear-gradient(to bottom, #ffffff, #aabbcc);
  background-image: -moz-linear-gradient(top, #ffffff, #aabbcc);
  background-repeat: repeat-x;
  border: 1px solid #aabbcc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 20px 5px;
    padding: 10px;
}

/* Fieldset
-------------------------*/
fieldset legend.ftoggler {
    border: 1px solid #abc;
    font-weight: bold;
    margin-left: 1em;
    padding: 5px 14px;
    width: auto;
}
.mform fieldset {
    border-radius: 6px;
    border: 1px solid #abc;
}
